@import '../../fonts/sans-serif/Manrope.css';

:root {
	--font: 'Manrope', sans-serif;
	--font-size: 1em;
	--color: #222;
	--bg: #fff;
	--primary: #ED4C67;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color: #ccc;
		--bg: #222;
	}
}